<a href="https://colab.research.google.com/github/Imtiaj-Sajin/Computer-Vision-Pattern-Recogition/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Programming
**Types** **bold text**

In [ ]:
x=4.5
print(type(x))
x=3
print(type(x))
print(x**2)


#booleans
t=True
f=False
print(not t)
print(t!=f)

<class 'float'>
<class 'int'>
9
False
True

**Sting**

In [ ]:
print("""Print
multiple
Lines""")

Print
multiple
Lines

In [ ]:
a=10
print(f'Value of A is {a}')
print(f"What's Going on {a,a,a}")

Value of A is 10
What's Going on (10, 10, 10)

**Condition**

In [ ]:
b=5
if(a>b):
  print(f"{a} is greater than {b}")
  print(f'print kar de {b} ko')
else:
  print("anything")

10 is greater than 5
print kar de 5 ko

**Loping**

In [ ]:
for x in range(1,10):
  print(x)

1
3
5
7
9

In [ ]:
for i in range(10,1,-1):
  print(i)

# **List-Touples**

In [ ]:
l=[1,2.3,3,'sdd','f']
t=(4,1,3.4,'d','s')

print(l)
print(t)
print()
print(t[3],t[-3])

[1, 2.3, 3, 'sdd', 'f']
(4, 1, 3.4, 'd', 's')

d 3.4

In [ ]:
for i in t:
  print(i)

for i,v in enumerate(l):
  print(f"{i}:{v}")

4
1
3.4
d
s
0:1
1:2.3
2:3
3:sdd
4:f

In [ ]:
c=[]
c.append('a')
c.append('b')
c.append('4')
c.append('asdf')
c.append('3.5b')
c.append('b')

print(c)

c.insert(1,'a0')

print(c)
c.remove('b')
print(c)

del c[0]
print(c)

['a', 'b', '4', 'asdf', '3.5b', 'b']
['a', 'a0', 'b', '4', 'asdf', '3.5b', 'b']
['a', 'a0', '4', 'asdf', '3.5b', 'b']
['a0', '4', 'asdf', '3.5b', 'b']

In [ ]:
#List of List
ListOfList=[[1,2.3,'fpa',4],[4,5.4,34,],['Two','One']]

print(ListOfList)
print(ListOfList)

[[1, 2.3, 'fpa', 4], [4, 5.4, 34], ['Two', 'One']]

**Task:** 2 list is given, you have to add the value of indexes in a new list and print it.

**example:**
list1=[3,4,5,1]
list2=[5,2,1,7]

output: [8, 6, 6, 8]

In [ ]:
def add_list(a,b):
  x=len(a)
  nl=[]
  for i in range(0,x):
    nl.append(a[i]+b[i])
  return nl

list1=[3,4,5,1]
list2=[5,2,1,7]
print(add_list(list1,list2))

[8, 6, 6, 8]

# **Sets**

In [ ]:
depts = {"MBA","EEE","BBA","ARCHI"}
depts.add('CS')

print(depts)

'CS' in depts

{'CS', 'MBA', 'EEE', 'BBA', 'ARCHI'}

True

# **Maps/Dictionaries/Hash Tables**

In [ ]:
st={'sami':32,'rabbi':'l','kalam':7.6}
print(type(st))
print(st['rabbi'])

<class 'dict'>
l

In [ ]:
st.get('kalam', 'default')

print(st.keys())

print(st.values())

dict_keys(['sami', 'rabbi', 'kalam'])
dict_values([32, 'l', 7.6])

# **Some Advance Operations**

**Slicing Operator**

In [ ]:
a=['k',3,5,'f',5]

print(a[1:3])
print(a[:2])
print(a[3:-3])
print(a[:-3])
print(a[-1:-3])
print(a[2:-2])#first one inclusive,last one exclusive

[3, 5]
['k', 3]
[]
['k', 3]
[]
[]

**Zip**

In [ ]:
a=[8,3,5,4]
b=[0,3,4,5,6]

print(zip(a,b))
print(list(zip(a,b))) #automatically detects the smaller one and zip it
print()
for a,b in zip(a,b):
  print(f'{a} - {b}==>{a-b}')

<zip object at 0x79fe0709ee40>
[(8, 0), (3, 3), (5, 4), (4, 5)]

8 - 0==>8
3 - 3==>0
5 - 4==>1
4 - 5==>-1

In [ ]:
arr1 = [0,1,2,3,4,5,6,7,8,9]
arr2 = []
# avoid doing this !!!!
for a in arr1:
    arr2.append(a**2)
print(arr2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# **List Comprehension**

In [ ]:
arr1 = [0,6,2,32,4,5,6,7,8,9]

arr1_copy=[i for i in arr1]
print(arr1_copy)


sq=[i*2 for i in arr1]
print(sq)

sq_even=[i*2 for i in arr1 if i%2==0]
print(sq_even)

print()

d = {(a,a): (a,a**2) for a in range(10)}
print(d)
print()

print(d[(5,5)])

[0, 6, 2, 32, 4, 5, 6, 7, 8, 9]
[0, 12, 4, 64, 8, 10, 12, 14, 16, 18]
[0, 12, 4, 64, 8, 12, 16]

{(0, 0): (0, 0), (1, 1): (1, 1), (2, 2): (2, 4), (3, 3): (3, 9), (4, 4): (4, 16), (5, 5): (5, 25), (6, 6): (6, 36), (7, 7): (7, 49), (8, 8): (8, 64), (9, 9): (9, 81)}

(5, 25)