<a href="https://colab.research.google.com/github/Imtiaj-Sajin/Computer-Vision-Pattern-Recogition/blob/main/python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Operations:**

In [62]:
#Create a list of integers containing numbers from 1 to 10.
l=list(range(1, 11))
print(f'List:{l}')

#• Append the square of each number to the list.

sq = [a**2 for a in l]
for x in sq:
    l.append(x )
print(f'New List:{l}')


#• Find and print the sum of all elements in the list.
#Sum= sum(l) #killed my time, but running on online
#print(Sum)

List:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New List:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Touple

In [63]:

#• Create a tuple containing the first five even numbers.
even = tuple(x for x in range(1, 11) if x % 2 == 0)
print(f'even:{even}')


#• Find and print the product of all elements in the tuple.
product = 1
for x in even:
    product *= x

print(f'Product:{product}')

even:(2, 4, 6, 8, 10)
Product:3840

# Set Operations:

In [64]:
#• Create two sets of odd numbers between 1 to 10.
odd1 = set(x for x in range(1, 11) if x % 2 != 0)
odd2 = (3,9,7)

print(odd1)
print(odd2)
#• Find and print the union of the two sets.

print(f'Union:{odd1.union(odd2)}')

#• Find and print the intersection of the two sets.
print(f'Intersection :{odd1.intersection(odd2)}')

{1, 3, 5, 7, 9}
(3, 9, 7)
Union:{1, 3, 5, 7, 9}
Intersection :{9, 3, 7}

In [65]:
#Create a dictionary where keys are the first five lowercase alphabets and values are their
#respective ASCII values.